numpy
tensorflow==2.0.0-rc1
# tensorflow-gpu==2.0.0-rc1 # uncomment this line for TF-GPU installation
tfp-nightly
gym
matplotlib
tensorboardX
tabulate
protobuf
joblib
pytest
Pillow
gast==0.2.2
# git+https://github.com/openai/multiagent-particle-envs.git
