numpy
tensorflow
# tensorflow-gpu==2.0.0-rc1 # uncomment this line for TF-GPU installation
tensorflow-probability
gym
matplotlib
tensorboardX
tabulate
protobuf
joblib
pytest
Pillow
gast
# git+https://github.com/openai/multiagent-particle-envs.git
